@model LabFoto.Models.Tables.Partilhavel

@using Microsoft.Extensions.Options;
@inject IOptions<AppSettings> AppSettings

@{
    ViewData["Title"] = $"Partilhável - {Model.Nome}";
    bool isAuthenticated = User.Identity.IsAuthenticated;
    string sendClass = "";
    if (Model.Enviado) { sendClass = "green"; }
}

<div class="ui raised segment" style="overflow-x: scroll;">
    <span class="ui blue ribbon label">Partilhável</span>
    @if (isAuthenticated)
    {
        <div class="ui icon mini basic buttons ml-3">
            <a asp-action="Edit" asp-route-id="@Model.ID" asp-route-returnUrl="@Url.Action("Details","Partilhaveis", new { id = Model.ID })" class="ui button"
               data-toggle="tooltip" title="Editar" style="padding-left:12px;">
                <i class="far fa-edit"></i>
            </a>
            <div class="ui button" data-toggle="tooltip" title="E-mail ao Requerente" onclick="shareByEmail(`@Model.ID`)" id="btnMail_@Model.ID"
                 style="padding-top:10px;">
                <i class="@sendClass envelope outline icon"></i>
            </div>
            <span asp-action="Delete" onclick="confirmDelete('@Model.ID')" class="ui button" data-toggle="tooltip" title="Eliminar"
                  style="padding-top:11px;">
                <i class="trash alternate outline icon"></i>
            </span>
        </div>
    }
    <dl class="row mt-4 mb-0">
        <dt class="col-sm-2 font-weight-bold">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => Model.Nome)
        </dd>
        @if (isAuthenticated)
        {
            <dt class="col-sm-2 font-weight-bold">
                Data de Criação
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.DataDeCriacao)
            </dd>
        }
        @if (Model.Validade != null)
        {
            <dt class="col-sm-2 font-weight-bold">
                Válido até
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.Validade)
            </dd>
        }
        @if (isAuthenticated)
        {
            <dt class="col-sm-2 font-weight-bold">
                Serviço
            </dt>
            <dd class="col-sm-10">
                <a href="@Url.Action("Details","Servicos",new { id = Model.ServicoFK })" target="_blank">
                    @Model.Servico.Nome
                </a>
            </dd>
            <dt class="col-sm-2 font-weight-bold">
                Endereço
            </dt>
            <dd class="col-sm-10">
                <span id="linkPartilha">@AppSettings.Value.SiteUrl/Partilhaveis/Details/@Model.ID</span>
            </dd>
            <dt class="col-sm-2 font-weight-bold">
                Password
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.Password)
            </dd>
        }
    </dl>
</div>

<div class="ui raised segment">
    <span class="ui blue ribbon label">Fotografias</span>
    <div class="ui raised segment pt-0 px-4">
        <div id="thumbnails" class="mt-4">
            <div class="my-gallery" id="my-gallery" itemscope>
                <div class="ui six doubling stackable cards mt-2" id="photosContainer"></div>
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()

<div class="ui basic mini modal" id="confirmDelete">
    <div class="content">
        <p>Tem a certeza que pretende eliminar o Partilhável?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Não
        </div>
        <div class="ui green ok inverted button" onclick="">
            <i class="checkmark icon"></i>
            Sim
        </div>
    </div>
</div>

<!-- #region Photoswipe -->
@{
    /*
        Modal utilizado na biblioteca PhotoSwipe
     */
}
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<!-- #endregion -->

@section scripts
{
    <script>
        var placeHolder = `<div class="ui six doubling stackable mt-2" id="photosContainer"><div class="ui placeholder tiny segment"><div class="ui icon header"><i class="images outline icon" style="height: auto;"></i>Não existem fotografias.</div></div></div>`;

        $(document).ready(function ()
        {
            // Começar a pedir fotografias
            getPhotos(1);

            // Iniciar a galeria do PhotoSwipe
            initPhotoSwipeFromDOM('.my-gallery');
            $("#topDiv").css("height", "50px");
        });


        function getPhotos(page)
        {
            $("#thumbnails").append(loader);
            $.ajax({
                type: "POST",
                url: siteUrl + "/Partilhaveis/Thumbnails",
                data: {
                    "ID": "@Model.ID",
                    "Password": "@Model.Password",
                    "Page": page,
                    "__RequestVerificationToken": $("input[name='__RequestVerificationToken']").val(),
                    "X-Requested-With": "XMLHttpRequest"
                },
                success: function (resp)
                {
                    if (resp.noMorePhotos == null) // Enquanto houver mais fotografias a serem carregadas
                    {
                        if (resp.success == false)
                        {
                            notifyUser("error", resp.error);
                        }
                        else
                        {
                            $("#photosContainer").append(resp);
                            // Pedir mais fotografias ao servidor
                            page++;
                            getPhotos(page);
                        }
                    }
                    else
                    {
                        if (isEmpty("#photosContainer")) // Caso não exitam fotografias
                        {
                            $("#my-gallery").html(placeHolder); // Mostra um placeholder
                        }
                    }
                    $("#loader").remove(); // Remove a barra de loading
                },
                error: function () {
                   $("#photosContainer").html(`
                        <div class="ui negative message mt-3">
                          <div class="header">
                            Ocorreu um erro
                          </div>
                          <p>Infelizmente não foi possível carregar as fotografias.</p>
                        </div>
                    `);
                }
            });
        }

        function download(url)
        {
            var link = document.createElement("a");
            link.download = name;
            link.href = url;
            link.style.display = "none";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            delete link;
        }

         function confirmDelete(partilhavelId)
         {
            $("#confirmDelete").modal({
                closable: false,
                onDeny: function () {
                    $("#confirmDelete").modal('hide');
                },
                onApprove: function () {
                    deletePartilhavel(partilhavelId);
                },
                transition: 'scale'
            }).modal('show');
         }

        function deletePartilhavel(partilhavelId)
        {
            $.ajax({
                url: "@Url.Action("Delete","Partilhaveis")",
                type: "POST",
                data: {
                    "id": partilhavelId,
                    "__RequestVerificationToken": $(`input[name='__RequestVerificationToken']`).val(),
                    "X-Requested-With": "XMLHttpRequest"
                },
                success: function (resp)
                {
                    if (resp.success)
                    {
                        window.location.href = siteUrl + "/Partilhaveis"
                    }
                    else
                    {
                         notifyUser("error", "Erro ao eliminar o Partilhável.");
                    }
                },
                error: function ()
                {
                    notifyUser("error", "Erro ao eliminar o Partilhável.");
                }
            });
        }
    </script>

    @{/* Caso exista Feedback a ser fornecido, apresenta uma notficação Noty */}
    @if (ViewData["Feedback"] != null)
    {
        string type = "success";
        if (ViewData["Type"] != null) { type = (string)ViewData["Type"]; }
        <script>
            document.addEventListener('DOMContentLoaded', function ()
            {
                notifyUser('@type', '@ViewData["Feedback"]');
            }, false);
        </script>
    }
}