@model LabFoto.Models.Tables.Servico

<div class="card">
    <div class="card-header " id="heading_@Model.ID">
        <div class="ui grid">
            <div class="nine wide column mb-0 mt-2">
                <span class="pl-0 font-weight-bold collapsed" style="-webkit-user-select:text;">
                    @Html.DisplayFor(modelItem => Model.Nome)
                </span>
            </div>
            <div class="four wide column right floated">
                <div class="ui icon buttons right floated">
                    <a class="ui button basic" asp-controller="Galerias" asp-action="Index" asp-route-serv="@Model.ID" data-toggle="tooltip" title="Ver Galerias (@Model.Galerias.Count())"><i class="far fa-images"></i></a>
                    <a asp-controller="Servicos" asp-action="Edit" asp-route-id="@Model.ID" asp-route-returnUrl="Details/@Model.ID" class="ui button basic" data-toggle="tooltip" title="Editar"><i class="far fa-edit"></i></a>
                    @if (ViewData["details"] != null)
                    {
                        if (ViewData["details"].Equals(true))
                        {
                            <span value="Delete" onclick="confirmDeleteServico('@Model.ID')" class="ui button basic" data-toggle="tooltip" title="Eliminar"><i class="far fa-trash-alt"></i></span>
                            @Html.AntiForgeryToken()
                        }
                        else
                        {
                            <a asp-controller="Servicos" asp-action="Details" asp-route-id="@Model.ID" class="ui button basic" data-toggle="tooltip" title="Ver Detalhes"><i class="far fa-address-card"></i></a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div id="collapse_@Model.ID" class="show" aria-labelledby="headingOne">
        <div class="card-body">
            <div class="card-title">
                <div class="row">
                    <div class="col-md-6">
                        <div class="dataCriacao">
                            <span>Criado</span> <span class="float-right font-weight-bold">@String.Format("{0:yyyy/MM/dd}", Model.DataDeCriacao)</span>
                        </div>
                        <div class="dataEntrega">
                            <span>Entregue</span>
                            @if (Model.DataEntrega != null)
                            {
                                <span class="float-right font-weight-bold">@String.Format("{0:yyyy/MM/dd}", Model.DataEntrega)</span>
                            }
                            else
                            {
                                <span class="float-right font-weight-bold">----/--/--</span>
                            }
                        </div>
                        <div class="requerente">
                            <span>Requerente</span> <span class="float-right font-weight-bold pointer btn-link" style="text-decoration:none;" onclick="servicoRequerenteDetails('modalDetailsRequerente', '@Model.Requerente.ID')">@Model.Requerente.Nome</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="horasEstudio">
                            <span>@Html.DisplayNameFor(modelItem => Model.HorasEstudio)</span>
                            <span class="float-right font-weight-bold">@Html.DisplayFor(modelItem => Model.HorasEstudio)</span>
                        </div>
                        <div class="horasPosProducao">
                            <span>@Html.DisplayNameFor(modelItem => Model.HorasPosProducao)</span>
                            <span class="float-right font-weight-bold">@Html.DisplayFor(modelItem => Model.HorasPosProducao)</span>
                        </div>
                        <div class="total">
                            <span>@Html.DisplayNameFor(modelItem => Model.Total)</span>
                            <span class="float-right font-weight-bold">@Html.DisplayFor(modelItem => Model.Total)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-text mt-3">
                <div class="row">
                    @{
                        int tipos = Model.Servicos_Tipos.Count();
                        int servSolic = Model.Servicos_ServicosSolicitados.Count();
                    }
                    @if (tipos != 0 || servSolic != 0)
                    {
                        <div class="col-md-6 mt-3">
                            @if (tipos != 0)
                            {
                                <div class="tipoServico">
                                    <span class="font-weight-bold">@Html.DisplayNameFor(modelItem => Model.Servicos_Tipos)</span>
                                    <p>
                                        @foreach (var tipo in Model.Servicos_Tipos)
                                        {
                                            <span class="mr-4">@tipo.Tipo.Nome</span>
                                        }
                                    </p>
                                </div>
                            }
                        </div>
                        <div class="col-md-6 mt-3">
                            @if (servSolic != 0)
                            {
                                <div class="servicoSolicitado">
                                    <span class="font-weight-bold">@Html.DisplayNameFor(modelItem => Model.Servicos_ServicosSolicitados)</span>
                                    <p>
                                        @foreach (var ss in Model.Servicos_ServicosSolicitados)
                                        {
                                            <span class="mr-4">@ss.ServicoSolicitado.Nome</span>
                                        }
                                    </p>
                                </div>
                            }
                        </div>
                    }
                    <div class="col-md-6 mt-3">
                        <span class="font-weight-bold">@Html.DisplayNameFor(modelItem => Model.IdentificacaoObra): </span>
                        <p>@Html.DisplayFor(modelItem => Model.IdentificacaoObra)</p>
                    </div>
                    <div class="col-md-6 mt-3">
                        @if (Model.Servicos_DataExecucao.Count() != 0)
                        {
                            <span class="font-weight-bold">@Html.DisplayNameFor(modelItem => Model.Servicos_DataExecucao): </span>
                            <p>
                                @foreach (var data in Model.Servicos_DataExecucao)
                                {
                                    <span class="mr-4">@String.Format("{0:yyyy/MM/dd}", data.DataExecucao.Data)</span>
                                }
                            </p>
                        }
                    </div>
                    <div class="col-md-12 mt-3">
                        @if (!String.IsNullOrEmpty(Model.Observacoes))
                        {
                            <span class="font-weight-bold">@Html.DisplayNameFor(modelItem => Model.Observacoes): </span>
                            <p>@Html.Raw(Model.Observacoes)</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Partilháveis</h3>

@if (Model.Partilhaveis.Count() != 0)
{
    <a asp-action="Create" asp-controller="Partilhaveis" asp-route-servicoID="@Model.ID" asp-route-returnUrl="@Url.Action("Details","Servicos", new { id = Model.ID })"
       class="mb-0 ui button mini primary">
        <i class="share alternate icon"></i> Novo Partilhável
    </a>
    @foreach (var partilhavel in Model.Partilhaveis)
    {
        var segmentColor = "green";
        string sendClass = "";
        if (partilhavel.Enviado) { sendClass = "green"; }

        // Caso o partilhavel tenha expirado, mostra o segmento a vermelhor para avisar que já expirou
        if (partilhavel.Validade != null && DateTime.Compare((DateTime)partilhavel.Validade, DateTime.Now) < 0)
        {
            segmentColor = "red";
        }

        <div class="ui raised @segmentColor segment">
            <div class=" ui grid stackable">
                <div class="row">
                    <div class="ui eight wide column ml-2 pl-5 pt-2 font-weight-bold">
                        <a class="plainTextLink" href="@Url.Action("Details", "Partilhaveis", new { id = partilhavel.ID })">@partilhavel.Nome</a>
                    </div>
                    <div class="ui three wide column pt-2">
                        <p>@Html.DisplayFor(modelItem => partilhavel.Validade)</p>
                    </div>
                    <div class="ui three wide column right floated">

                        <div class="ui icon mini basic buttons right floated" style="margin-left: 6px !important;">

                            <div class="ui button float-right" data-toggle="tooltip" title="Enviar Email" style="padding-top:12px;"
                                 onclick="sendEmail(`@partilhavel.ID`)" id="btnMail_@partilhavel.ID">
                                <i class="@sendClass envelope outline icon"></i>
                            </div>
                            <a asp-controller="Partilhaveis" asp-action="Edit" asp-route-id="@partilhavel.ID" class="ui button float-right" data-toggle="tooltip" title="Editar"><i class="far fa-edit"></i></a>
                            <a asp-controller="Partilhaveis" asp-action="Details" asp-route-id="@partilhavel.ID"
                               class="ui button float-right" data-toggle="tooltip" title="Detalhes">
                                <i class="far fa-address-card"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="share alternate icon"></i>
            Não existem Partilháveis para este Serviço.
        </div>
        <a asp-action="Create" asp-controller="Partilhaveis" asp-route-servicoID="@Model.ID" asp-route-returnUrl="@Url.Action("Details","Servicos", new { id = Model.ID })"
           class="mb-0 ui button mini primary">
            <i class="share alternate icon"></i> Novo Partilhável
        </a>
    </div>
}


<script>
    document.addEventListener('DOMContentLoaded', function ()
    {
        $('[data-toggle="tooltip"]').tooltip();
    }, false);
</script>