@using Microsoft.Extensions.Options;
@inject IOptions<AppSettings> AppSettings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LabFotos</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <!-- Bibliotecas CSS -->
    <link rel="stylesheet" href="~/lib/noty/noty.css" />
    <link rel="stylesheet" href="~/lib/noty/themes/bootstrap-v4.css" />
    <link rel="stylesheet" href="~/lib/semantic-ui/semantic.css" />
    <link rel='stylesheet' href='~/lib/photo-swipe/photoswipe.css'>
    <link rel='stylesheet' href='~/lib/photo-swipe/default-skin/default-skin.css' />

    <!-- CSS do site -->
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow pb-0 mb-3 unselectable">

                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Servicos" asp-action="Index"><i class="fas fa-camera-retro"></i> LabFotos</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item dropdown">
                                <a class="dropbtn nav-link text-dark" asp-controller="Servicos" asp-action="Index">Serviços <i class="caret down icon"></i></a>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-controller="Requerentes" asp-action="Index">Requerentes</a>
                                    <a class="nav-link text-dark" asp-controller="Tipos" asp-action="Index">Tipos de Serviço</a>
                                    <a class="nav-link text-dark" asp-controller="ServicosSolicitados" asp-action="Index">Serviços Solicitados</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropbtn nav-link text-dark" asp-controller="Galerias" asp-action="Index">Galerias <i class="caret down icon"></i></a>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-controller="Metadados" asp-action="Index">Metadados</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropbtn nav-link text-dark" asp-controller="Users" asp-action="Index">Utilizadores <i class="caret down icon"></i></a>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-controller="Users" asp-action="Create">Criar utilizador</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropbtn nav-link text-dark" asp-controller="Partilhaveis" asp-action="Create">Criar partilhavel</a>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="dropbtn nav-link text-dark" style="pointer-events: none;">Administração <i class="caret down icon"></i></a>
                                    <div class="dropdown-content">
                                        <a class="nav-link text-dark" asp-controller="ContasOnedrive" asp-action="Index">Contas Onedrive</a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>


        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
            <partial name="_CookieConsentPartial" />
        </div>
    }
    else
    {
        <div style="height:200px"></div>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <partial name="_CookieConsentPartial" />
    </div>

    <script>
        // Recolher o url do site do appsettings.json
        // Esta variável está disponivel em todo o javascript da aplicação
        var siteUrl = "@AppSettings.Value.SiteUrl";

        // Loaders do semantic para serem acedidos em todo o javascript
        var loader = '<div class="ui active centered indeterminate text inline loader unselectable" style="margin-top:100px; margin-bottom:80px;" id="loader">A carregar...</div>';
        var smallLoader = '<div class="ui active centered inline small loader"></div>';
    </script>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/semantic-ui/semantic.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/ajaxUnobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/noty/noty.min.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/all.js" asp-append-version="true"></script>
    <script src="~/lib/photo-swipe/photoswipe-ui-default.min.js" asp-append-version="true"></script>
    <script src="~/lib/photo-swipe/photoswipe.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
