@using Microsoft.Extensions.Options;
@inject IOptions<AppSettings> AppSettings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LabFotos</title>
    <link rel="shortcut icon" href="@AppSettings.Value.SiteUrl/LabFoto.ico" />
    <!-- CSS do site -->
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/css/semantic.min.css" />

</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow pb-0 mb-3 unselectable">

                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Servicos" asp-action="Index"><i class="fas fa-camera-retro"></i> LabFotos</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item dropdown">
                                <a class="dropbtn nav-link text-dark" asp-controller="Servicos" asp-action="Index">Serviços <i class="caret down icon"></i></a>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-controller="Partilhaveis" asp-action="Index">Partilhaveis</a>
                                    <a class="nav-link text-dark" asp-controller="Requerentes" asp-action="Index">Requerentes</a>
                                    <a class="nav-link text-dark" asp-controller="Tipos" asp-action="Index">Tipos de Serviço</a>
                                    <a class="nav-link text-dark" asp-controller="ServicosSolicitados" asp-action="Index">Serviços Solicitados</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropbtn nav-link text-dark" asp-controller="Galerias" asp-action="Index">Galerias <i class="caret down icon"></i></a>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-controller="Metadados" asp-action="Index">Metadados</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropbtn nav-link text-dark" style="pointer-events: none;">Administração <i class="caret down icon"></i></a>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-controller="ContasOnedrive" asp-action="Index">Contas Onedrive</a>
                                    <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">Utilizadores</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    else
    {
        <div style="height:200px" id="topDiv"></div>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <partial name="_CookieConsentPartial" />
    </div>

    <script>
        // Recolher o url do site do appsettings.json
        // Esta variável está disponivel em todo o javascript da aplicação
        var siteUrl = "@AppSettings.Value.SiteUrl";

        // Loaders do semantic para serem acedidos em todo o javascript
        var loader = '<div class="ui active centered indeterminate text inline loader unselectable" style="margin-top:100px; margin-bottom:80px;" id="loader">A carregar...</div>';
        var smallLoader = '<div class="ui active centered inline small loader"></div>';
    </script>

    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/semantic.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
