@model LabFoto.Models.ViewModels.ThumbnailsViewModel

@{
    int i = Model.Index; // Usando para definir index nas fotos. Para saber qualquer a foto clicada (no PhotoSwipe)
    foreach (var foto in Model.Fotos)
    {
        <div class="card remove-card-border">
            <div class="content p-1">
                <div class="header" style="font-size:0.8rem;">
                    @foto.Nome
                </div>
            </div>
            <div class="image">
                <figure itemprop="associatedMedia" class="fluid m-0" itemscope>
                    <a href="@foto.Thumbnail_Large" itemprop="contentUrl">
                        <img src="@foto.Thumbnail_Medium" class="small-thumbnails" itemprop="thumbnail" alt="Image description" style="height:150px !important;" data-index="@i" />
                        <img class="hide" src="@foto.Thumbnail_Large" />
                    </a>
                    <figcaption itemprop="caption description" hidden>@foto.Nome</figcaption>
                </figure>
            </div>
            <div class="ui small icon buttons">
                <button class="ui button basic btnCB border-bottom" onclick="pushToPhotos('@foto.ID')" id="cb_@foto.ID">
                    <i class="check circle outline icon"></i>
                </button>
                <button class="ui basic button border border-top-0" onclick="download('@foto.DownloadUrl')"><i class="save icon"></i></button>

                <div class="ui basic button border-bottom btnOptions">
                    <i class="cog icon"></i>
                </div>
                <div class="ui fluid popup bottom left transition hidden">
                    <div class="ui relaxed divided list link">
                        <a class="item small mb-1" onclick="confirmationModal('cover', defineCoverPhoto, '@foto.ID')">
                            <i class="image outline icon"></i>
                            <div class="content">
                                <div class="header">Definir como capa</div>
                            </div>
                        </a>
                        <a class="item small pt-2" onclick="confirmationModal('delete', deletePhotos, '@foto.ID')">
                            <i class="trash alternate outline icon"></i>
                            <div class="content">
                                <div class="header">Remover</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        i++;
    }
}