@model LabFoto.Models.ViewModels.ThumbnailsViewModel

@{
    int i = Model.Index; // Usado para definir index nas fotos. Para saber qualquer a foto clicada (no PhotoSwipe)
    bool justCheckbox = (bool?)ViewData["JustCheckbox"] ?? false; // Define se mostra o botão de download ou o de checkbox

    foreach (var foto in Model.Fotos)
    {
        <div class="card remove-card-border" id="photoCard_@foto.ID">
            <div class="content p-1">
                <div class="header" style="font-size:0.8rem;">
                    @foto.Nome
                </div>
            </div>
            <div class="image">
                <figure itemprop="associatedMedia" class="fluid m-0" itemscope>
                    @{
                        // Por defeito mostra como se tivesse vazio
                        var large = $"{Url.Content("~")}/images/default.png";
                        var medium = $"{Url.Content("~")}/images/default.png";

                        // Caso as thumbnails existam, seram essas utilizadas
                        if (foto.Thumbnail_Large != null) { large = foto.Thumbnail_Large; }
                        if (foto.Thumbnail_Medium != null) { medium = foto.Thumbnail_Medium; }
                    }
                    <a href="@large" itemprop="contentUrl">
                        <img src="@medium" class="small-thumbnails" itemprop="thumbnail" alt="Image description" style="height:150px !important;" data-index="@i" />
                        <img class="hide" src="@large" />
                    </a>
                    <figcaption itemprop="caption description" hidden>@foto.Nome</figcaption>
                </figure>
            </div>
            <div class="ui small icon buttons border-top">
                <span class="ui button basic btnCB border-bottom border-left" onclick="pushToPhotos('@foto.ID')" id="cb_@foto.ID" data-foto-id="@foto.ID" data-galeria-id="@foto.GaleriaFK">
                    <i class="check circle outline icon"></i>
                </span>

                @if (!justCheckbox) // Caso não seja só para mostrar a checkbox
                {
                    <span class="ui basic button border border-top-0" onclick="download('@foto.DownloadUrl')"><i class="save icon"></i></span>

                    <div class="ui basic button border-bottom border-right btnOptions">
                        <i class="cog icon"></i>
                    </div>
                    <div class="ui fluid popup bottom left transition hidden">
                        <div class="ui relaxed divided list link">
                            <a class="item small mb-1" onclick="confirmationModal('cover', defineCoverPhoto, '@foto.ID')">
                                <i class="image outline icon"></i>
                                <div class="content">
                                    <div class="header">Definir como capa</div>
                                </div>
                            </a>
                            <a class="item small pt-2" onclick="confirmationModal('delete', deletePhotos, '@foto.ID')" style="padding-left:2px;">
                                <i class="trash alternate outline icon"></i>
                                <div class="content" style="padding-left:11px;">
                                    <div class="header">Eliminar</div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>

        i++;
    }
}