@model IEnumerable<LabFoto.Models.Tables.Fotografia>

@if (Model.Count() == 0)
{
        <div class="ui placeholder tiny segment">
            <div class="ui icon header">
                <i class="images outline icon" style="height: auto;"></i>
                Não existem fotografias.
            </div>
        </div>
}
else
{
    <div class="my-gallery" id="my-gallery" itemscope>
        <div class="ui six doubling stackable cards mt-2" id="photosContainer">
            @{
                int i=0; // Usando para definir index nas fotos. Para saber qualquer a foto clicada
                foreach (var foto in Model)
                {
                    <div class="card remove-card-border">
                        <div class="content p-1">
                            <div class="header" style="font-size:0.8rem;">
                                @foto.Nome
                            </div>
                        </div>
                        <div class="image">
                            <figure itemprop="associatedMedia" class="fluid m-0" itemscope>
                                <a href="@foto.Thumbnail_Large" itemprop="contentUrl">
                                    <img src="@foto.Thumbnail_Medium" class="small-thumbnails" itemprop="thumbnail" alt="Image description" style="height:150px !important;" data-index="@i"/>
                                    <img class="hide" src="@foto.Thumbnail_Large" />
                                </a>
                                <figcaption itemprop="caption description" hidden>@foto.Nome</figcaption>
                            </figure>
                        </div>
                        <div class="ui mini attached relaxed bottom buttons">
                            <span class="ui button" onclick="download('@foto.DownloadUrl')">
                                <i class="save icon"></i>
                            </span>
                            <button class="ui button">
                                <i class="sliders horizontal icon"></i>
                            </button>
                        </div>
                        <div class="ui toggle checkbox" onclick="pushToURLs('@foto.DownloadUrl')">
                            <input type="checkbox" tabindex="0" class="hidden">
                        </div>
                    </div>

                    i++;
                }
            }
        </div>
    </div>
}