@model LabFoto.Models.ViewModels.UsersIndexViewModel

@{
    ViewData["Title"] = "Utilizadores";
}

<h1>@ViewData["Title"]</h1>


<div id="searchForm">
    @Html.AntiForgeryToken()
    <div class="ui segment padded pb-1">
        <div class="ui form" id="searchParams">
            <div class="fields">
                <div class="six wide field">
                    <div class="ui transparent left icon input large">
                        <input id="inputUsername" placeholder="E-mail da conta..." name="Username">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="ten wide field">
                    <div class="ui button blue mini" onclick="submitUsersSearchForm()" tabindex="0">
                        <i class="search icon"></i>
                        Pesquisar
                    </div>
                    <div class="ui button inverted red mini" onclick="clearSearch()" tabindex="0">
                        <i class="eraser icon"></i>
                        Limpar pesquisa
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="ui blue mini button mt-3 mb-2" asp-action="Create">
    <i class="fas fa-plus"></i> <span class="ml-1">Novo Utilizador</span>
</a>

<div id="usersList">
    <partial name="PartialViews/_IndexUsers" model="@Model" />
</div>

@* Apenas mostra os modais de manutenção de conta aos utilizadores *@
@if (User.IsInRole("Admin"))
{
    <div class="ui basic mini modal" id="confirmationDeleteModal">
        <div class="content">
            <p>Tem a certeza que pretende eliminar o utilizador?</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                Não
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Sim
            </div>
        </div>
    </div>

    <div class="ui basic mini modal" id="confirmationBlockModal">
        <div class="content">
            <p></p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                Não
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Sim
            </div>
        </div>
    </div>

    <div class="ui modal basic mini fluidCorners" id="modalChangeRole">
        <div class="content" id="changeRoleForm"></div>
    </div>
}

@section scripts
{
    @{/* Caso exista Feedback a ser fornecido, apresenta uma notficação Noty */}
    @if (ViewData["Feedback"] != null)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function ()
            {
                notifyUser('@ViewData["Type"]', '@ViewData["Feedback"]');
            }, false);
        </script>
    }

    <script>
        $(document).ready(function ()
        {
            $('[data-toggle="tooltip"]').tooltip();
        });

        clearSearch = () =>
        {
            $(`#inputUsername`).val("");
            submitUsersSearchForm();
        };

        $(".input").on('keyup', function (e)
        {
            if (e.keyCode == 13)
            {
                submitUsersSearchForm();
            }
        });

        function submitUsersSearchForm()
        {
            $.ajax({
                url: "@Url.Action("IndexFilter", "Users")",
                type: "POST",
                data: {
                    "Username": $("#searchForm #inputUsername").val(),
                    "__RequestVerificationToken": $("#searchForm input[name='__RequestVerificationToken']").val(),
                    "X-Requested-With": "XMLHttpRequest"
                },
                success: function (resp)
                {
                    $("#usersList").html(resp);
                    $('[data-toggle="tooltip"]').tooltip();
                },
                error: function ()
                {
                    notifyUser('error', 'Erro ao pesquisar.');
                }
            });
        }
    </script>

    @* Apenas mostra os scripts de manutenção de conta aos utilizadores *@
    @if (User.IsInRole("Admin"))
    {
        <script>
            function changeRole(id)
            {
                $.ajax({
                    url: siteUrl + `/Users/ChangeRole/${id}`,
                    type: "GET",
                    success: function (resp)
                    {
                        if (resp.sucess == null)
                        {
                            $("#changeRoleForm").html(resp);
                            $('.ui.dropdown').dropdown();
                            $("#modalChangeRole").modal('show');
                        }
                        else
                        {
                            notifyUser("error", "Erro ao encontrar o utilizador.")
                        }
                    },
                    error: function ()
                    {
                        notifyUser('error', 'Erro ao encontrar o utilizador.');
                    }
                });
            }

            function confirmBlock(id, locked)
            {
                console.log(locked);
                if (locked)
                {
                    $("#confirmationBlockModal p").html("Tem a certeza que pretende bloquear o utilizador?");
                }
                else
                {
                    $("#confirmationBlockModal p").html("Tem a certeza que pretende desbloquear o utilizador?");
                }

                $("#confirmationBlockModal").modal({
                    closable: false,
                    onDeny: function () {
                        $("#confirmationBlockModal").modal('hide');
                    },
                    onApprove: function ()
                    {
                        blockUser(id, locked);
                    },
                    transition: 'scale'
                }).modal('show');
            }

            function blockUser(id, locked)
            {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Block","Users")",
                    data: {
                        "id": id,
                        "locked": locked,
                        "__RequestVerificationToken": $(`#searchForm input[name='__RequestVerificationToken']`).val(),
                        "X-Requested-With": "XMLHttpRequest"
                    },
                    success: function (resp)
                    {
                        if (resp.success)
                        {
                            window.location.href = "@Url.Action("Index", "Users")";
                        }
                        else
                        {
                            if (resp.denied)
                            {
                                notifyUser("error", "Não tem privilégios suficientes.");
                            }
                            else
                            {
                                notifyUser("error", "Erro ao bloquer o utilizador.");
                            }
                        }
                    },
                    error: function ()
                    {
                        notifyUser("error", "Erro ao bloquer o utilizador.");
                    }
                });
            }

            function confirmDelete(id)
            {
                $("#confirmationDeleteModal").modal({
                    closable: false,
                    onDeny: function () {
                        $("#confirmationDeleteModal").modal('hide');
                    },
                    onApprove: function ()
                    {
                        deleteUser(id);
                    },
                    transition: 'scale'
                }).modal('show');
            }

            function deleteUser(id)
            {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete","Users")",
                    data: {
                        "id": id,
                        "__RequestVerificationToken": $(`#searchForm input[name='__RequestVerificationToken']`).val(),
                        "X-Requested-With": "XMLHttpRequest"
                    },
                    success: function (resp)
                    {
                        if (resp.success)
                        {
                            window.location.href = "@Url.Action("Index", "Users", new { feedback = "UserDelete" })";
                        }
                        else
                        {
                            if (resp.denied)
                            {
                                notifyUser("error", "Não tem privilégios suficientes.");
                            }
                            else
                            {
                                notifyUser("error", "Erro ao eliminar o utilizador.");
                            }
                        }
                    },
                    error: function ()
                    {
                        notifyUser("error", "Erro ao eliminar o utilizador.");
                    }
                });
            }
        </script>
    }
}
