@model IEnumerable<LabFoto.Models.Tables.ContaOnedrive>

@{
    if (Model.Count() != 0)
    {
        foreach (var conta in Model)
        {
            long total = 0, remaining = 0;
            double usedPercent = 0.0, used = 0.0;

            if (!String.IsNullOrEmpty(conta.Quota_Total)) { total = (int)(Int64.Parse(conta.Quota_Total) / 1024 / 1024); }
            if (!String.IsNullOrEmpty(conta.Quota_Used)) { used = (int)(Int64.Parse(conta.Quota_Used) / 1024 / 1024); }
            if (!String.IsNullOrEmpty(conta.Quota_Remaining)) { remaining = (int)(Int64.Parse(conta.Quota_Remaining) / 1024 / 1024); }

            usedPercent = (used * 100) / ((double)total);

            string color = "";

            if ((remaining / 1024) <= 50)
            {
                color = "red";
            }
            else if ((remaining / 1024) <= 150)
            {
                color = "yellow";
            }
            else
            {
                color = "green";
            }

            <div class="ui @color raised segment mb-4 pt-4">
                <div class="ui grid stackable">
                    <div class="row pb-2">
                        <div class="ui five wide column text-center floated">
                            <div class="ui grid">
                                <div class="ui fourteen wide column">
                                    <p class="font-weight-bold ml-2"> @Html.DisplayFor(modelItem => conta.Username)</p>
                                    <p class="font-weight-bold mr-2" data-visivel=true id="pw_@conta.ID">******</p>
                                </div>
                                <div class="ui two wide column pl-2 pr-0">
                                    <div class="ui icon buttons right floated">
                                        <a class="ui compact icon basic button" id="btn_@conta.ID" data-toggle="tooltip" title="Ver Password" onclick="mostrarPW(@conta.ID, `@conta.Password`)">
                                            <i class="eye icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui nine wide column pb-2 pt-2 left floated">
                            @if (total != 0)
                            {
                                <div class="progressBarUpdate ui progress active" data-percent="@Math.Round(usedPercent)">
                                    <div class="bar" style="background-color:@color !important;">
                                        <div class="progress"></div>
                                    </div>
                                    <div class="label text-dark" style="font-size: 15px !important;">@Math.Round(used / 1024, 2) GB de  @(total / 1024) GB</div>
                                </div>
                            }
                            else
                            {
                                <h4 class="font-weight-bold">
                                    Erro na conta
                                </h4>
                            }

                        </div>
                        <div class="ui two wide column right floated pr-0">
                            <div class="ui icon basic buttons right floated" style="margin-left: 6px !important;">
                                <a asp-controller="ContasOnedrive" asp-action="Edit" asp-route-id="@conta.ID" class="ui button float-right" data-toggle="tooltip" title="Editar"><i class="far fa-edit"></i></a>
                                <div class="ui button" data-toggle="tooltip" title="Eliminar" onclick="confirmDelete(@conta.ID)">
                                    <i class="trash alternate outline icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
    else
    {
        <div class="my-lg-5 d-flex justify-content-center">
            <p class="font-weight-bolder">Não foram encontradas contas.</p>
        </div>
    }
}
