@model LabFoto.Models.Tables.Servico

<div id="accordion">
    <div class="card">
        <div class="card-header" id="heading_@Model.ID">
            <form asp-action="Delete" id="servicosDetailsDeleteForm">
                <input type="hidden" asp-for="ID" />
                <h5 class="mb-0">
                    <span class="btn font-weight-bold collapsed" style="-webkit-user-select:text;" data-toggle="collapse" aria-expanded="true">
                        @Html.DisplayFor(modelItem => @Model.Nome)
                    </span>
                    @if (ViewData["details"] != null)
                    {
                        if (ViewData["details"].Equals(true))
                        {
                            <span value="Delete" onclick="showConfirmationDialog('ServicosDetailsDelete')" class="btn btn-light float-right pointer" data-toggle="tooltip" title="Apagar"><i class="far fa-trash-alt"></i></span>
                        }
                        else
                        {
                            <a asp-controller="Servicos" asp-action="Details" asp-route-id="@Model.ID" class="btn btn-light float-right" data-toggle="tooltip" title="Ver Detalhes"><i class="far fa-address-card"></i></a>
                        }
                    }
                    <a asp-controller="Servicos" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-light float-right" data-toggle="tooltip" title="Editar"><i class="far fa-edit"></i></a>
                    <a class="btn btn-light float-right" asp-controller="Galerias" asp-action="Index" asp-route-serv="@Model.ID" data-toggle="tooltip" title="Ver Galerias"><i class="far fa-images"></i></a>
                </h5>
            </form>
        </div>

        <div id="collapse_@Model.ID" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="dataCriacao">
                                <span>Criado</span> <span class="float-right font-weight-bold">@Html.DisplayFor(modelItem => Model.DataDeCriacao)</span>
                            </div>
                            <div class="dataEntrega">
                                <span>Entregue</span>
                                @if (Model.DataEntrega != null)
                                {
                                    <span class="float-right font-weight-bold">@Html.DisplayFor(modelItem => Model.DataEntrega)</span>
                                }
                                else
                                {
                                    <span class="float-right font-weight-bold">--/--/----</span>
                                }
                            </div>
                            <div class="requerente">
                                <span>Requerente</span> <span class="float-right font-weight-bold">@Html.ActionLink(Model.Requerente.Nome, "Details", "Requerentes", new { id = Model.RequerenteFK }, new { style = "text-decoration: none;" })</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="horasEstudio">
                                <span>@Html.DisplayNameFor(modelItem => Model.HorasEstudio)</span>
                                <span class="float-right font-weight-bold">@Html.DisplayFor(modelItem => Model.HorasEstudio)</span>
                            </div>
                            <div class="horasPosProducao">
                                <span>@Html.DisplayNameFor(modelItem => Model.HorasPosProducao)</span>
                                <span class="float-right font-weight-bold">@Html.DisplayFor(modelItem => Model.HorasPosProducao)</span>
                            </div>
                            <div class="total">
                                <span>@Html.DisplayNameFor(modelItem => Model.Total)</span>
                                <span class="float-right font-weight-bold">@Html.DisplayFor(modelItem => Model.Total)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-text mt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tipoServico">
                                <span class="font-weight-bold">@Html.DisplayNameFor(modelItem => Model.Servicos_Tipos)</span>
                                <p>
                                    @foreach (var tipo in Model.Servicos_Tipos)
                                    {
                                        <span class="mr-4">@tipo.Tipo.Nome</span>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="servicoSolicitado">
                                <span class="font-weight-bold">@Html.DisplayNameFor(modelItem => Model.Servicos_ServicosSolicitados)</span>
                                <p>
                                    @foreach (var ss in Model.Servicos_ServicosSolicitados)
                                    {
                                        <span class="mr-4">@ss.ServicoSolicitado.Nome</span>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span class="font-weight-bold">@Html.DisplayNameFor(modelItem => Model.IdentificacaoObra): </span>
                            <p>@Html.DisplayFor(modelItem => Model.IdentificacaoObra)</p>
                        </div>
                        <div class="col-md-6">
                            <span class="font-weight-bold">@Html.DisplayNameFor(modelItem => Model.Servicos_DataExecucao): </span>
                            <p>
                                @foreach (var data in Model.Servicos_DataExecucao)
                                {
                                    <span class="mr-4">@Html.DisplayFor(modelItem => data.DataExecucao.Data)</span>
                                }
                            </p>
                        </div>
                        <div class="col-md-12">
                            <span class="font-weight-bold">@Html.DisplayNameFor(modelItem => Model.Observacoes): </span>
                            <p>@Html.DisplayFor(modelItem => Model.Observacoes)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function(){ 
        $('[data-toggle="tooltip"]').tooltip();
    }, false);
</script>