@model LabFoto.Models.Tables.Requerente

<div class="card">
    <div class="card-header h3">
        @Html.DisplayFor(model => model.Nome)
        <span class="float-right"><a class="btn float-right bg-light" href="/Requerentes/Details/@Model.ID" data-toggle="tooltip" title="Ver Detalhes"><i class="far fa-address-card"></i></a></span>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <h5 class="card-title">@Html.DisplayNameFor(model => model.Email)</h5>
            <p>
                <i class="far fa-envelope"></i>
                <span class="card-text"><a href="mailto:@Model.Email" style="text-decoration:none;">@Html.DisplayFor(model => model.Email)</a></span>
            </p>
        </div>
        <div class="col-md-6">
            <h5 class="card-title">@Html.DisplayNameFor(model => model.Telemovel)</h5>
            <p>
                <i class="fas fa-phone"></i>
                <span class="card-text">@Html.DisplayFor(model => model.Telemovel)</span>
            </p>
        </div>
    </div>
    <div class="col-md-12 ml-1 mt-3">
        <h5 class="card-title">@Html.DisplayNameFor(model => model.Responsavel)</h5>
        <p>
            <i class="fas fa-user-tie"></i>
            <span class="card-text">@Html.DisplayFor(model => model.Responsavel)</span>
        </p>
    </div>
</div>
