@model LabFoto.Models.Tables.Requerente

<form asp-controller="Requerentes" asp-action="Edit"
      onsubmit="requerenteEditFormSubmitDetails(event, `div_@Model.ID` , `divDetails_@Model.ID`, `requerenteEditForm_@Model.ID`, `@Model.ID`)"
      id="requerenteEditForm_@Model.ID">
    <div class="ui card">
        <div class="card pb-2">
            <div class="card-body">
                <div class="ui transparent left icon fluid input">
                    <input asp-for="@Model.Nome" placeholder="Nome.." class="font-weight-bold pl-0" style="font-size:20px;">
                    <i class="edit outline icon"></i>
                </div>

                <hr />
                <div class="ui large list">
                    <div class="item">
                        <p class="mb-1" style="font-size:small">@Html.DisplayNameFor(model => Model.Email)</p>
                        <div class="content">
                            <div class="ui transparent left icon fluid input">
                                <input type="text" asp-for="@Model.Email" placeholder="Email..">
                                <i class="mail icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <p class="mb-1" style="font-size:small">@Html.DisplayNameFor(model => Model.Telemovel)</p>
                        <div class="content ">
                            <div class="ui transparent left icon fluid input">
                                <input type="text" asp-for="@Model.Telemovel" placeholder="Telemóvel...">
                                <i class="phone icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <p class="mb-1" style="font-size:small">@Html.DisplayNameFor(model => Model.Responsavel)</p>
                        <div class="content">
                            <div class="ui transparent left icon fluid input">
                                <input type="text" asp-for="@Model.Responsavel" placeholder="Responsável...">
                                <i class="user icon"></i>
                            </div>
                        </div>
                    </div>
                    <span class="btn float-right pointer" data-toggle="tooltip" title="Guardar"
                          onclick="confirmForm('requerenteEditForm_@Model.ID')">
                        <i class="save outline icon"></i>
                    </span>
                    <span class="btn float-right pointer" data-toggle="tooltip" title="Voltar"
                          onclick="flipCard('div_@Model.ID', 'flip over')">
                        <i class="undo icon"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="ui basic mini modal" id="confirmarSubmit">
    <div class="content">
        <p>Tem a certeza que pretende editar o requerente?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Não
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Sim
        </div>
    </div>
</div>