@model LabFoto.Models.Tables.Requerente

<div class="ui card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title font-weight-bold">@Model.Nome</h3>
            <hr />
            <div class="ui large list">
                <div class="item">
                    <p class="mb-1" style="font-size:small">@Html.DisplayNameFor(model => Model.Email)</p>
                    <i class="mail icon"></i>
                    <div class="content">
                        <a class="ml-1" href="mailto:@Model.Email">@Model.Email</a>
                    </div>
                </div>
                <div class="item">
                    <p class="mb-1" style="font-size:small">@Html.DisplayNameFor(model => Model.Telemovel)</p>
                    <i class="phone icon"></i>
                    <div class="content">
                        @Model.Telemovel
                    </div>
                </div>
                <div class="item">
                    <p class="mb-1" style="font-size:small">@Html.DisplayNameFor(model => Model.Responsavel)</p>
                    <p>
                        <i class="user icon"></i>
                        <span class="content ml-1">
                            @Model.Responsavel
                        </span>
                    </p>
                </div>
            </div>
            <a class="btn float-right" onclick="editarRequerenteDetails(`divEdit_@Model.ID`, `div_@Model.ID`, `@Model.ID`)" data-toggle="tooltip" title="Editar"><i class="edit outline icon"></i></a>
        </div>
    </div>
</div>

