@model LabFoto.Models.Tables.Galeria

@using Microsoft.Extensions.Options;
@inject IOptions<AppSettings> AppSettings

@{
    ViewData["Title"] = $"Galeria - {Model.Nome}";
}


<form id="uploader">
    <div class="mb-2 ui attached segment">
        <div class="ui stackable grid">
            <div class="eight wide column">
                <p class="ui blue ribbon label mb-3">Galeria</p>
                <div class="ui icon mini basic buttons right floated">
                    <a asp-action="Create" asp-controller="Partilhaveis" asp-route-servicoID="@Model.ServicoFK"
                       class="ui button pl-3" data-toggle="tooltip" title="Novo Partilhável">
                        <i class="share alternate icon"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@Model.ID" asp-route-returnUrl="@Url.Action("Details","Galerias", new { id = Model.ID })" class="ml-2 ui button pl-3 pr-2" data-toggle="tooltip" title="Editar Galeria">
                        <i class="edit icon"></i>
                    </a>
                    <span class="ml-2 ui button pl-3 pr-3" onclick="confirmationModal('deleteGaleria', deleteGaleria, '@Model.ID')"
                           data-toggle="tooltip" title="Eliminar Galeria">
                        <i class="trash alternate outline icon"></i>
                    </span>
                </div>
                <dl class="row mb-0">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DataDeCriacao)
                    </dt>
                    <dd class="col-sm-8">
                        @String.Format("{0:yyyy/MM/dd}", Model.DataDeCriacao)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Servico)
                    </dt>
                    <dd class="col-sm-8">
                        <a href="/Servicos/Details/@Model.Servico.ID" target="_blank" class="plainTextLink font-weight-bold">@Model.Servico.Nome</a>
                    </dd>
                </dl>
            </div>
            <div class="eight wide column">
                <div id="progressBarsContainer" class="mb-2 mt-4"></div>
            </div>
        </div>
        <div>
            @if (Model.Galerias_Metadados.Count() > 0)
            {
                <span class="font-weight-bold">Metadados</span>
                <div class="ui labels mt-2">
                    @foreach (var metadado in Model.Galerias_Metadados)
                    {
                        <span class="ui basic label">
                            <i class="pencil alternate icon"></i> @metadado.Metadado.Nome
                        </span>
                    }
                </div>
            }
            else
            {
                <span>Não existem metadados.</span>
            }
        </div>
        <div class="ui two top attached buttons mt-3">
            <label for="fileInput" class="ui primary button" id="btnFileInput">
                <i class="plus icon"></i> Selecionar Fotografia(s) <span id="fileCount"></span>
            </label>
            <input id="fileInput" onchange="updateSelectedFiles()" type="file" name="files" multiple hidden>
            <button type="submit" class="ui green button" id="btnUploadSubmit"><i class="cloud upload icon"></i> Carregar</button>
            <span class="ui green button pointer" id="btnFinishUpload" style="display:none;"><i class="check icon"></i> Finalizar</span>
        </div>
    </div>
</form>

<div class="mt-4">
    <div class="ui small basic icon buttons float-right">
        <button class="ui button" onclick="selectAllCB()"><i class="check circle icon"></i></button>
        <button class="ui button" onclick="clearCB()"><i class="check circle outline icon"></i></button>
        <button class="ui button" onclick="confirmationModal('delete', deletePhotos, null)" id="btnDelete" disabled><i class="trash alternate outline icon"></i></button>
    </div>
    <br />
    <div id="thumbnails" class="mt-4">
        <div class="my-gallery" id="my-gallery" itemscope>
            <div class="ui six doubling stackable cards mt-2" id="photosContainer"></div>
        </div>
    </div>
</div>

<div class="ui basic mini modal" id="confirmationModal">
    @Html.AntiForgeryToken()
    <div class="content">
        <p></p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Não
        </div>
        <div class="ui green ok inverted button" onclick="">
            <i class="checkmark icon"></i>
            Sim
        </div>
    </div>
</div>

<!-- #region Photoswipe -->
@{
    /*
        Modal utilizado na biblioteca PhotoSwipe
     */
}
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<!-- #endregion -->

@section scripts
{
    <script>
        var fileBar = `<div class="ui green active progress mb-0" id="fileBar" style="display:none;"><div class="bar"><div class="progress"></div></div></div>`;
        var totalBar = `<div class="ui indicating progress" data-value="0" id="totalBar" style="display:none;"><div class="bar"><div class="progress"></div></div><div class="label">A processar...</div></div>`;
        var placeHolder = `<div class="ui six doubling stackable mt-2" id="photosContainer"><div class="ui placeholder tiny segment"><div class="ui icon header"><i class="images outline icon" style="height: auto;"></i>Não existem fotografias.</div></div></div>`;

        var photos = [];

        $(document).ready(function ()
        {
            $('[data-toggle="tooltip"]').tooltip();

            // Começar a pedir fotografias
            getPhotos(1);

            // Iniciar a galeria do PhotoSwipe
            initPhotoSwipeFromDOM('.my-gallery');
        });

        function defineCoverPhoto(id)
        {
            $('.btnOptions').popup('hide');
            $.ajax({
                    type: "POST",
                    url: siteUrl + "/Galerias/DefineCover",
                    data: {
                        "id": '@Model.ID',
                        'fotoId': id,
                        "__RequestVerificationToken": $(`#confirmationModal input[name='__RequestVerificationToken']`).val(),
                        "X-Requested-With": "XMLHttpRequest"
                    },
                    success: function (resp)
                    {
                        if (resp.success)
                        {
                            notifyUser('success', 'Capa definida com sucesso.');
                        }
                        else
                        {
                            notifyUser('error', 'Erro ao definir capa.');
                        }

                        // Reset da variável
                        photos = [];
                    },
                    error: function ()
                    {
                        notifyUser('error', 'Erro ao definir capa.');
                    }
                });
        }

        function pushToPhotos(newPhotoId)
        {
            // Caso o url exista no array, retira-lo
            if (photos.includes(newPhotoId)) {
                let newArray = [];
                photos.forEach((photo) => {
                    if (photo !== newPhotoId) {
                        newArray.push(photo);
                    }
                });
                photos = newArray;
            } else {
                photos.push(newPhotoId);
            }

            // Alterar o botão check para refletir que a foto [está/não está] selecionada
            $(`#cb_${newPhotoId}`).toggleClass("blue")
                .children("i").toggleClass("outline blue");
            // Desabilitar os botões caso não existam fotos selecionadas
            $("#btnDelete").attr("disabled", (photos.length === 0)? true : false);
        }

        function confirmationModal(type, callback, callbackParam)
        {
            $('.btnOptions').popup('hide');
            var txt = '';

            switch (type)
            {
                case 'delete': txt = "Tem a certeza que pretende eliminar esta(s) fotografia(s)?"; break;
                case 'cover': txt = "Tem a certeza que pretende definir esta fotografia como capa?"; break;
                case 'deleteGaleria': txt = "Tem a certeza que pretende eliminar esta galeria?"; break;
                default: txt = "Tem a certeza que pretende eliminar esta(s) fotografia(s)?"; break;
            }

            $("#confirmationModal p").html(txt);
            $("#confirmationModal").modal({
                closable: false,
                onDeny: function () {
                    $("#confirmDelete").modal('hide');
                },
                onApprove: function ()
                {
                    callback(callbackParam);
                },
                transition: 'scale'
            }).modal('show');
        }

        function deleteGaleria(id)
        {
            $.ajax({
                url: "@Url.Action("Delete","Galerias")",
                type: "POST",
                data: {
                    "id": id,
                    "__RequestVerificationToken": $(`#confirmationModal input[name='__RequestVerificationToken']`).val(),
                    "X-Requested-With": "XMLHttpRequest"
                },
                success: function (resp)
                {
                    if (resp.success)
                    {
                        window.location.href = "@Url.Action("Index", "Galerias")";
                    }
                    else
                    {
                        if (resp.hasFotos)
                        {
                            notifyUser("error", "A galeria não pode ser eliminada porque tem fotografias.");
                        }
                        else
                        {
                            notifyUser("error", "Erro ao eliminar a galeria.");
                        }
                    }
                },
                error: function ()
                {
                    notifyUser("error", "Erro ao eliminar a galeria.");
                }
            });
        }

        function deletePhotos(id)
        {
            var toSend = [];

            // Se houver parametros, envia-os, senão envia o array photos
            if (id !== null)
                toSend.push(id);
            else
                toSend = photos;

            if (toSend.length > 0)
            {
                $("#btnDelete").addClass("loading").attr("disabled", true);

                $.ajax({
                    type: "POST",
                    url: siteUrl + "/Galerias/DeleteFiles",
                    data: {
                        "photosIds": toSend,
                        "__RequestVerificationToken": $(`#confirmationModal input[name='__RequestVerificationToken']`).val(),
                        "X-Requested-With": "XMLHttpRequest"
                    },
                    success: function (resp)
                    {
                        $("#btnDelete").removeClass("loading");

                        if (resp.success)
                        {
                            notifyUser('success', 'Apagado com sucesso.');

                            // Quando apagadas com sucesso, remove-las do DOM
                            toSend.forEach(p =>
                            {
                                $(`#photoCard_${p}`).remove();
                            });

                            if (isEmpty("#photosContainer")) // Caso não exitam fotografias na galeria
                            {
                                $("#my-gallery").html(placeHolder); // Mostra um placeholder
                            }
                        }
                        else
                        {
                            notifyUser('error', 'Erro ao apagar.');
                        }

                        // Reset da variável
                        photos = [];
                    },
                    error: function ()
                    {
                        $("#btnDelete").removeClass("loading").attr("disabled", false);
                        notifyUser('error', 'Erro ao apagar.');
                    }
                });
            }
            else
            {
                notifyUser('warning', 'Não existem fotografias selecionadas.');
            }
        }

        // Carregar as fotografias da galeria assincronamente
        function getPhotos(page)
        {
            $("#thumbnails").append(loader);
            $.ajax({
                type: "GET",
                url: siteUrl + "/Galerias/Thumbnails/@Model.ID?page="+page,
                success: function (resp) {
                    if (resp.noMorePhotos == null) // Enquanto houver mais fotografias a serem carregadas
                    {
                        if (resp.success == false)
                        {
                            notifyUser("error", resp.error);
                        }
                        else
                        {
                            $("#photosContainer").append(resp);
                            activatePopups();
                            // Pedir mais fotografias ao servidor
                            page++;
                            getPhotos(page);
                        }
                    }
                    else
                    {
                        if (isEmpty("#photosContainer")) // Caso não exitam fotografias na galeria
                        {
                            $("#my-gallery").html(placeHolder); // Mostra um placeholder
                        }
                    }
                    $("#loader").remove(); // Remove a barra de loading
                },
                error: function () {
                    $("#thumbnails").html(`
                        <div class="ui negative message mt-3">
                          <div class="header">
                            Ocorreu um erro
                          </div>
                          <p>Infelizmente não foi possível carregar as fotografias.</p>
                        </div>
                    `);
                }
            });
        }

        // Iniciar o processo de upload quando o formulario for submetido
        document.getElementById('uploader').onsubmit = function (e)
        {
            e.preventDefault();

            var files = document.getElementById('fileInput').files;

            if (files.length != 0) {

                // Desabilitar o botão de upload
                $("#btnFinishUpload").hide()
                $("#btnUploadSubmit")
                    .attr("disabled", true)
                    .addClass("disabled loading");
                $("#btnFileInput")
                    .attr("disabled", true)
                    .addClass("disabled");

                initProgressBars(files.length);
                upload(files, 0);
            }
        }

        // Esconder as barras de upload quando o utilizador carregar no botão "Finalizar"
        document.getElementById('btnFinishUpload').onclick = function (e)
        {
            e.preventDefault();

            // Esconder as barras de progresso, preparar os botões para um novo upload
            $("#fileBar").fadeOut();
            $("#totalBar").fadeOut();
            $("#btnFinishUpload").hide();
            $("#btnUploadSubmit").show();
            $("#btnFileInput")
                .attr("disabled", false)
                .removeClass("disabled");
        }

        // Ativar o popup das opções de cada fotografia (para eliminar ou definir como capa)
        function activatePopups()
        {
            $('.btnOptions')
                .popup({
                    hoverable  : true,
                    on: 'click',
                    setFluidWidth: false,
                    position   : 'bottom left',
                    delay: {
                        show: 300,
                        hide: 800
                    }
                })
            ;
        }

        // Pede uma sessão de upload da OneDrive ao servidor e em seguida inicia o upload de um ficheiro.
        function upload(files, i)
        {
            $.ajax({
                type: "GET",
                url: siteUrl + `/Galerias/UploadSession?size=${files[i].size}&name=${files[i].name}`,
                success: function (resp)
                {
                    if (resp.success)
                    {
                        // Visto que foi recebido um url de upload, fazer o upload do ficheiro.
                        uploadFile(files, i, resp);
                    }
                    else
                    {
                        notifyUser('error', resp.details);
                        
                        // Reactivar os botões novamente
                        $("#btnFinishUpload").click();
                        $("#btnUploadSubmit")
                            .attr("disabled", false)
                            .removeClass("disabled loading");
                    }
                },
                error: function ()
                {
                    notifyUser('error', 'Ocorreu um erro ao contactar o servidor.');
                }
            });
        }

        function uploadFile(files, i, json)
        {
            // Recolher o tamanho de cada fragmento do appsettings.json
            var fragmentSize = @AppSettings.Value.UploadFragmentSizeInMB;

            var file = files[i]; // Escolher o ficheiro para enviar do array de ficheiros
            var loaded = 0;
            var step = fragmentSize * 1024 * 1024; // Definir o tamanha de cada partição que será enviada
            var total = file.size;
            var reader = new FileReader();
            var blob = file.slice(loaded, step); // Criar a primeira partição do ficheiro
            var chunksize = blob.size;
            reader.readAsBinaryString(blob);   // Ler a primeira partição como binário

            // reader.onload define o comportamento a ser executado cada vez que o reader.readAsBinaryString() é chamado
            reader.onload = function (e) {

                $.ajax({
                    url: json.url,
                    type: "PUT",
                    beforeSend: function (request)
                    {
                         // A documentação especifica que é necessário definir qual a partição a ser enviada a cada momento e o tamanho total do ficheiro
                        request.setRequestHeader("Content-Range", `bytes ${loaded}-${loaded + chunksize - 1}/${total}`);
                    },
                    contentType: false,
                    processData: false,
                    data: blob                    // Colocar a partição do ficheiro como 'data' a ser enviada em cada pedido (1 pedido para cada partição)
                }).done(function (resp) {           // Caso a partição tenha sido enviada com sucesso

                    loaded += step;

                    if (loaded <= total) {            // Caso o ficheiro não tenha sido enviado na sua totatlidade

                        blob = file.slice(loaded, loaded + step);  // Pega a proxima partição a ser enviada
                        chunksize = blob.size;
                        // Ao ler o binário da proxima partição, o reader.onload será corrido novamente (recursividade), até o ficheiro ser enviado na totalidade
                        reader.readAsBinaryString(blob);        
                        updateFileBar((loaded * 100) / total);

                    } else {                //  Caso o ficheiro tenha sido carregado na sua totalidade

                        loaded = total;
                        informServerOfImage(resp, json.contaId); // Enviar resposta da onedrive para o servidor para que este crie o ficheiro na BD
                        updateFileBar(100);
                        updateTotalBar();

                        // Enquanto houver ficheiros para dar upload
                        if (i < files.length - 1) {
                            // Dar upload ao próximo ficheiro
                            i++;
                            upload(files, i);
                        } else {
                            uploadCompleted();
                        }
                    }
                });
            };
        }

        // Pedir ao servidor para criar uma entrada na BD da fotografia que acabou de ser carregada para a OneDrive
        function informServerOfImage(resp, contaId)
        {
            $.ajax({
                url: siteUrl + "/Galerias/RegisterFile",
                type: "POST",
                data:
                {
                    "galeriaId": "@Model.ID",
                    "contaId": contaId,
                    "fileOnedriveId": resp.id,
                    "fileOnedriveName": resp.name,
                    "__RequestVerificationToken": $(`#confirmationModal input[name='__RequestVerificationToken']`).val(),
                    "X-Requested-With": "XMLHttpRequest"
                },
                success: function (resp) 
                {
                    // Quando não existem fotografias, mostra-se um placeholder, quando forem adicionadas as primeiras fotografias,
                    // adicionar a classe card para as mostrar em pequenos cartões
                    if ($("#photosContainer").hasClass("cards"))
                    {
                        $("#photosContainer").append(resp);
                        activatePopups();
                    }
                    else
                    {
                        $("#photosContainer").addClass("cards");
                        $("#photosContainer").html(resp); // Substitui o placeholder "Nao existem fotografias" pela primeira fotografia
                    }

                    // Iniciar a galeria do PhotoSwipe
                    initPhotoSwipeFromDOM('.my-gallery');
                    $('.ui.checkbox').checkbox();
                }
            });
        }

        // Mostra feedback para quando o upload é concretizado com sucesso
        function uploadCompleted()
        {
            notifyUser('success', 'Fotografia(s) adicionada(s) com sucesso!.');

            // Remover os ficheiros carregados do inputFile
            var fileInput = $("#fileInput");
            fileInput.replaceWith(fileInput.val('').clone(true)); // Substituir o input file com um clone seu para limpar os ficheiros selecionados
            updateSelectedFiles();

            // Reactivar os botões novamente
            $("#btnUploadSubmit").hide();
            $("#btnFinishUpload").show();
            $("#btnUploadSubmit")
                .attr("disabled", false)
                .removeClass("disabled loading");
        }

        // Atualiza o valor de ficheiros selecionados pelo utilizador
        function updateSelectedFiles()
        {
            var count = document.getElementById('fileInput').files.length;
            $("#fileCount").html((count!=0)? ` - ${count} Selecionada(s)` : "");
        }

        // Inicializa as progress bars do upload
        function initProgressBars(total)
        {
            // Dar reset às progress bars
            $("#progressBarsContainer").html(fileBar + "<br />" + totalBar);

            // Definir o total de ficheiros a serem carregados
            document.getElementById('totalBar').setAttribute("data-total", total);

            $('#fileBar').show();
            $('#totalBar').show()
                .progress({
                    label: 'ratio',
                    text: {
                        ratio: '{value} de {total}',
                        active: '{value} de {total} Carregadas',
                        success : '{total} Fotografia(s) Carregada(s)!'
                    }
                }
            );
        }

        function updateFileBar(percent)
        {
            $('#fileBar')
                .progress({
                    percent: percent,
                    text: {
                      active  : 'A carregar...',
                      success : 'Carregado!'
                    }
                }
            );
        }

        function updateTotalBar()
        {
            $('#totalBar')
                .progress('increment')
            ;
        }

        function clearCB()
        {
            $(".btnCB.blue").click();
        }

        function selectAllCB()
        {
            clearCB();
             $(".btnCB").click();
        }

        function download(url)
        {
            // Cria um <a>, coloca-o no documento HTML, carrega nele para iniciar o download e em seguida apaga-o
            var link = document.createElement("a");
            link.download = name;
            link.href = url;
            link.style.display = "none";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            delete link;
        }
    </script>

    @{/* Caso exista Feedback a ser fornecido, apresenta uma notficação Noty */}
    @if (ViewData["Feedback"] != null)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function ()
            {
                notifyUser('success', '@ViewData["Feedback"]');
            }, false);
        </script>
    }
}
