@model IEnumerable<LabFoto.Models.Tables.Galeria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="ui four doubling stackable cards">
    @foreach (var galeria in Model)
    {
        <div class="card">
            <div class="image">
                @if (galeria.Fotografias.FirstOrDefault() != null)
                {
                    <img src="@galeria.Fotografias.FirstOrDefault().Thumbnail_Medium" class="medium-thumbnails" />
                }
                else
                {
                    <img src="~/images/default.png" class="medium-thumbnails">
                }
            </div>
            <div class="content">
                <div class="header">@galeria.Nome</div>
                <div class="meta">
                    <p>@Html.DisplayFor(modelItem => galeria.DataDeCriacao)</p>
                </div>
                <div class="description font-weight-bold">
                    @galeria.Servico.Nome
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    <a asp-controller="Galerias" asp-action="Edit" asp-route-id="@galeria.ID">
                        <i class="edit icon"></i>
                    </a>
                    <a asp-controller="Galerias" asp-action="Details" asp-route-id="@galeria.ID">
                        <i class="folder open icon"></i>
                    </a>
                </span>
                <span>
                    <i class="images icon"></i>
                    @galeria.Fotografias.Count Fotos
                </span>
            </div>
        </div>
    }
</div>