@model IEnumerable<LabFoto.Models.Tables.Galeria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="ui four doubling stackable cards">
    @foreach (var galeria in Model)
    {
        <div class="card">
            <div class="image">
                <a asp-action="Details" asp-route-id="@galeria.ID">
                    @if (galeria.Fotografias.FirstOrDefault() != null)
                    {
                        <img src="@galeria.Fotografias.FirstOrDefault().Thumbnail_Medium" class="medium-thumbnails" />
                    }
                    else
                    {
                        <img src="~/images/default.png" class="medium-thumbnails">
                    }
                </a>
            </div>
            <div class="content">
                <div class="header">
                    <a class="plainTextLink" asp-action="Details" asp-route-id="@galeria.ID">
                        @galeria.Nome
                    </a>
                </div>
                <div class="meta">
                    <span>@Html.DisplayFor(modelItem => galeria.DataDeCriacao)</span><br />
                </div>
                <div class="meta mt-1">
                    @foreach (var meta in galeria.Galerias_Metadados)
                    {
                        <a asp-action="Index" asp-route-metaID="@meta.MetadadoFK" style="font-size:0.8rem;">@meta.Metadado.Nome</a>
                    }
                </div>
                <div class="description font-weight-bold">
                    <a class="plainTextLink" asp-controller="Servicos" asp-action="Details" asp-route-id="@galeria.Servico.ID">
                        @galeria.Servico.Nome
                    </a>
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    <a asp-action="Edit" asp-route-id="@galeria.ID">
                        <i class="edit icon"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@galeria.ID">
                        <i class="folder open icon"></i>
                    </a>
                </span>
                <span>
                    <i class="images icon"></i>
                    @galeria.Fotografias.Count Fotos
                </span>
            </div>
        </div>
    }
</div>