@model IEnumerable<LabFoto.Models.Tables.Log>

@{
    ViewData["Title"] = "Erros da Aplicação";
}

<h1>Erros</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var log in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => log.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => log.Classe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => log.Timestamp)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@log.ID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@log.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
