@model LabFoto.Models.Tables.ContaOnedrive

@{
    ViewData["Title"] = "Detalhes";
}


<table class="ui celled table mt-5">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Username)</th>
            <th class="no-" style="width:10px !important">@Html.DisplayNameFor(model => model.Password)</th>
            <th>@Html.DisplayNameFor(model => model.Quota_Total)</th>
            <th>@Html.DisplayNameFor(model => model.Quota_Remaining)</th>
            <th>@Html.DisplayNameFor(model => model.Quota_Used)</th>
            <th class="no-" style="width:10px !important"></th>
        </tr>
    </thead>
    <tbody>
        @if ((Int64.Parse(Model.Quota_Remaining) / 1024 / 1024 / 1024) <= 50)
        {
            <tr class="warning">
                <td>
                    @Html.DisplayFor(modelItem => Model.Username)
                <td>
                    @Html.DisplayFor(modelItem => Model.Password)
                </td>
                <td>
                    @(Int64.Parse(Model.Quota_Total) / 1024 / 1024 / 1024) GB
                </td>
                <td>
                    @(Int64.Parse(Model.Quota_Remaining) / 1024 / 1024 / 1024) GB
                </td>
                <td>
                    @(Int64.Parse(Model.Quota_Used) / 1024 / 1024 / 1024) GB
                </td>
                <td style="width:10px !important">
                    <a asp-controller="ContasOnedrive" asp-route-returnUrl="Details/@Model.ID" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-light float-right" data-toggle="tooltip" title="Editar"><i class="far fa-edit"></i></a>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Password)
                </td>
                <td>
                    @(Int64.Parse(Model.Quota_Total) / 1024 / 1024 / 1024) GB
                </td>
                <td>
                    @(Int64.Parse(Model.Quota_Remaining) / 1024 / 1024 / 1024) GB
                </td>
                <td>
                    @(Int64.Parse(Model.Quota_Used) / 1024 / 1024 / 1024) GB
                </td>
                <td style="width:10px !important">
                    <a asp-controller="ContasOnedrive" asp-route-returnUrl="Details/@Model.ID" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-light float-right" data-toggle="tooltip" title="Editar"><i class="far fa-edit"></i></a>
                </td>
            </tr>

        }

    </tbody>
</table>

@{/* Caso exista Feedback a ser fornecido, apresenta uma notficação Noty */}
@if (ViewData["Feedback"] != null)
{
    <script>
        document.addEventListener('DOMContentLoaded', function ()
        {
            notifyUser('@ViewData["Type"]', '@ViewData["Feedback"]');
        }, false);
    </script>
}