@model IEnumerable<LabFoto.Models.Tables.ContaOnedrive>

@{
    ViewData["Title"] = "Index";
}

<h1>Contas Onedrive</h1>

<a class="ui blue mini button" asp-action="Create">
    <i class="fas fa-plus"></i> <span class="ml-1">Adicionar conta</span>
</a>

<div class="ui segment">
    <div class="ui grid">
        <div class="ui four wide column text-center">
            Username
        </div>
        <div class="ui ten wide column text-center">
            Armazenamento usado
        </div>        
        <div class="ui two wide column text-center">
            
        </div>
    </div>
</div>
@{
    foreach (var item in Model)
    {

        int total = (int)(Int64.Parse(item.Quota_Total) / 1024 / 1024 );
        double used = (double)(Int64.Parse(item.Quota_Used) / 1024 / 1024);
        int remaining = (int)(Int64.Parse(item.Quota_Remaining) / 1024 / 1024 / 1024);
        double usedPercent = (used * 100) / ((double)total);
        string cor = "";

        if (remaining <= 50)
        {
            cor = "red";
        }
        else if (remaining <= 150)
        {
            cor = "yellow";
        }
        else {
            cor = "green";
       }

        <div class=" ui @cor segment mb-0">
            <div class="ui grid">
                <div class="ui four wide column text-center">
                    @Html.DisplayFor(modelItem => item.Username)
                </div>
                <div class="ui ten wide column">
                    <div class="progressBar ui @cor inverted progress " data-percent="@Math.Round(usedPercent)" data-total="100" >
                        <div class="bar">
                            <div class="progress"></div>
                        </div>
                        <div class="label text-dark">@Math.Round(used /1024, 2) GB de  @(total / 1024) GB usado</div>
                    </div>
                </div>
                <div class="ui two wide column">
                    <a asp-controller="ContasOnedrive" asp-action="Edit" asp-route-id="@item.ID" class="ml-1 btn btn-light float-right" data-toggle="tooltip" title="Editar"><i class="far fa-edit"></i></a>
                    <a asp-controller="ContasOnedrive" asp-action="Details" asp-route-id="@item.ID" class="btn btn-light float-right" data-toggle="tooltip" title="Ver Detalhes"><i class="far fa-address-card"></i></a>

                </div>
            </div>
        </div>
    }
}
@section scripts{
    <script>
        $(document).ready(function () {
            $('.progressBar').progress();
            $('.progressBar').removeClass('progressBar');
        });

    </script>
    @{/* Caso exista Feedback a ser fornecido, apresenta uma notficação Noty */}
    @if (ViewData["Feedback"] != null)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function ()
            {
                notifyUser('@ViewData["Type"]', '@ViewData["Feedback"]');
            }, false);
        </script>
    }}
