@model IEnumerable<LabFoto.Models.Tables.ContaOnedrive>

@{
    ViewData["Title"] = "Index";
}

<h1>Contas Onedrive</h1>

<a class="ui blue mini button" asp-action="Create">
    <i class="fas fa-plus"></i> <span class="ml-1">Adicionar conta</span>
</a>

<table class="ui celled table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Username)</th>
            <th>@Html.DisplayNameFor(model => model.Quota_Total)</th>
            <th>@Html.DisplayNameFor(model => model.Quota_Remaining)</th>
            <th>@Html.DisplayNameFor(model => model.Quota_Used)</th>
            <th style="width:115px !important"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if ((Int64.Parse(item.Quota_Remaining) / 1024 / 1024 / 1024) <= 50)
            {
                <tr class="negative">
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @(Int64.Parse(item.Quota_Total) / 1024 / 1024 / 1024) GB

                    </td>
                    <td>
                        @(Int64.Parse(item.Quota_Remaining) / 1024 / 1024 / 1024) GB
                    </td>
                    <td>
                        @(Int64.Parse(item.Quota_Used) / 1024 / 1024 / 1024) GB
                    </td>
                    <td style="width:40px !important">
                        <a asp-controller="ContasOnedrive" asp-action="Edit" asp-route-id="@item.ID" class="ml-1 btn btn-light float-right" data-toggle="tooltip" title="Editar"><i class="far fa-edit"></i></a>
                        <a asp-controller="ContasOnedrive" asp-action="Details" asp-route-id="@item.ID" class="btn btn-light float-right" data-toggle="tooltip" title="Ver Detalhes"><i class="far fa-address-card"></i></a>
                    </td>
                </tr>
            }
            else if ((Int64.Parse(item.Quota_Remaining) / 1024 / 1024 / 1024) <= 150)
            {
                <tr class="warning">
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @(Int64.Parse(item.Quota_Total) / 1024 / 1024 / 1024) GB

                    </td>
                    <td>
                        @(Int64.Parse(item.Quota_Remaining) / 1024 / 1024 / 1024) GB
                    </td>
                    <td>
                        @(Int64.Parse(item.Quota_Used) / 1024 / 1024 / 1024) GB
                    </td>
                    <td style="width:40px !important">
                        <a asp-controller="ContasOnedrive" asp-action="Edit" asp-route-id="@item.ID" class="ml-1 btn btn-light float-right" data-toggle="tooltip" title="Editar"><i class="far fa-edit"></i></a>
                        <a asp-controller="ContasOnedrive" asp-action="Details" asp-route-id="@item.ID" class="btn btn-light float-right" data-toggle="tooltip" title="Ver Detalhes"><i class="far fa-address-card"></i></a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @(Int64.Parse(item.Quota_Total) / 1024 / 1024 / 1024) GB

                    </td>
                    <td>
                        @(Int64.Parse(item.Quota_Remaining) / 1024 / 1024 / 1024) GB
                    </td>
                    <td>
                        @(Int64.Parse(item.Quota_Used) / 1024 / 1024 / 1024) GB
                    </td>
                    <td style="width:40px !important">
                        <a asp-controller="ContasOnedrive" asp-action="Edit" asp-route-id="@item.ID" class="ml-1 btn btn-light float-right" data-toggle="tooltip" title="Editar"><i class="far fa-edit"></i></a>
                        <a asp-controller="ContasOnedrive" asp-action="Details" asp-route-id="@item.ID" class="btn btn-light float-right" data-toggle="tooltip" title="Ver Detalhes"><i class="far fa-address-card"></i></a>
                    </td>
                </tr>

            }

        }
    </tbody>
</table>

@{/* Caso exista Feedback a ser fornecido, apresenta uma notficação Noty */}
@if (ViewData["Feedback"] != null)
{
    <script>
        document.addEventListener('DOMContentLoaded', function ()
        {
            notifyUser('@ViewData["Type"]', '@ViewData["Feedback"]');
        }, false);
    </script>
}