@model IEnumerable<LabFoto.Models.Tables.ServicoSolicitado>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-5">Serviços Solicitados</h1>

<div id="searchForm">
    @Html.AntiForgeryToken()
    <div class="ui segment padded pb-1">
        <div class="ui form" id="searchParams">
            <div class="fields">
                <div class="six wide field">
                    <div class="ui transparent left icon input large">
                        <input id="inputNome" placeholder="Nome do serviço solicitado..." name="Nome">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="ten wide field">
                    <div class="ui button blue mini" onclick="submitServSolicSearchForm()" tabindex="0">
                        <i class="search icon"></i>
                        Pesquisar
                    </div>
                    <div class="ui button inverted red mini" onclick="clearSearch()" tabindex="0">
                        <i class="eraser icon"></i>
                        Limpar pesquisa
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui vertically divided grid pl-3 mt-2" id="indexServSolic">
    <partial name="PartialViews/_IndexCards" model="Model" />
</div>

<div class="ui basic mini modal" id="confirmationModal">
    <div class="content">
        <p>Tem a certeza que pretende eliminar o Serviço Solicitado?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Não
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Sim
        </div>
    </div>
</div>

@section scripts
{

    @{/* Caso exista Feedback a ser fornecido, apresenta uma notficação Noty */}
    @if (ViewData["Feedback"] != null)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function ()
            {
                notifyUser('@ViewData["Type"]', '@ViewData["Feedback"]');
            }, false);
        </script>
    }

    <script>
        clearSearch = () => {
            $(`#inputNome`).val("");
            submitServSolicSearchForm();
        };

        $(".input").on('keyup', function (e) {
            if (e.keyCode == 13) {
                submitServSolicSearchForm();
            }
        });

        function submitServSolicSearchForm() {
            $.ajax({
                url: siteUrl + "/ServicosSolicitados/IndexFilter",
                type: "POST",
                data: {
                    "Nome": $("#searchForm #inputNome").val(),
                    "__RequestVerificationToken": $("#searchForm input[name='__RequestVerificationToken']").val(),
                    "X-Requested-With": "XMLHttpRequest"
                },
                success: function (resp) {
                    $("#indexServSolic").html(resp);
                },
                error: function () {
                    notifyUser('error', 'Erro ao pesquisar.');
                }
            });
            };
            function confirmDelete(id) {
            $("#confirmationModal").modal({
                closable: false,
                onDeny: function () {
                    $("#confirmationModal").modal('hide');
                },
                onApprove: function ()
                {
                    $(`#indexDetails_${id} .ui.button.btnDelete`).addClass('loading');
                    deleteServSolicit(id);
                },
                transition: 'scale'
            }).modal('show');
        }

        function deleteServSolicit(id)
        {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Delete", "ServicosSolicitados")",
                data: {
                    "id": id
                },
                success: function (resp)
                {
                    if (resp.success)
                    {
                        window.location.href = "@Url.Action("Index", "ServicosSolicitados")";
                    }
                    else
                    {
                        notifyUser("error", "Erro ao eliminar o Serviço Solicitado.");
                    }
                },
                error: function ()
                {
                    notifyUser("error", "Erro ao eliminar o Serviço Solicitado.");
                }
            });
        };
    </script>
}